:root {
    /* --dark-purple: #893052; maroon */
    /* --dark-purple: #be93d4; periwinkle */
    --dark-purple: #d1a0ff;
    /* --dark-purple: #6f2dbd; original */
    /* --medium-purple: #c9227e; */
    --medium-purple: #e6baff;
    --light-purple: #f2ebff;
    --light-yellow: #fffff4;
    --light-orange: #fff0e4;
    --white: #ffffff;
    --off-white: #f8f8f8;
    --black: #000000;
    --grey: #808080;
  }

@font-face {
    font-family: 'PatrickHand';
    src: url('/fonts/PatrickHand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PatrickHand', sans-serif;
}

p {
  font-family: sans-serif;
}

.unstyled-link {
  text-decoration: underline;
  color: var(--black);
}

.btn {
  font-size: 16px;
}

.btn-primary {
  color: black !important; 
  background-color: var(--medium-purple) !important;
  border: none !important;
  padding: 15px 20px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.btn-primary:hover {
  color: black;
  background-color: var(--light-purple) !important;
}

.light-yellow-section-with-padding {
  background-color: var(--light-yellow);
  padding-top: 65px;
  padding-bottom: 65px;
}

.light-yellow-section-with-padding {
  background-color: var(--light-yellow);
  padding-top: 65px;
  padding-bottom: 65px;
}