:root {
    --dark-purple: #6f2dbd;
    --medium-purple: #a663cc;
    --light-purple: #e5d7fc;
    --light-yellow: #fffeea;
    --light-orange: #fff0e4;
    --teal: #f2fffe;
    --white: #ffffff;
    --off-white: #f8f8f8;
    --black: #000000;
  }

.unstyled-link {
  text-decoration: underline;
  color: var(--black);
}

.btn-primary {
  background-color: var(--dark-purple) !important;
  border: none !important;
  padding: 15px 20px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.btn-primary:hover {
  background-color: var(--medium-purple) !important;
}

.teal-section-with-padding {
  background-color: var(--teal);
  padding-top: 65px;
  padding-bottom: 65px;
}

.yellow-section {
  background-color: var(--light-yellow);
  padding-top: 65px;
  padding-bottom: 65px;
}